.field.fieldIcon .input {
  padding-left: 48px;
}
.field.fieldCurrency .input {
  padding-left: 58px;
  background: none;
  border-color: #EFEFEF;
}
.field.fieldCurrency .input:focus {
  border-color: #9A9FA5;
}
:global(.dark-mode) .field.fieldCurrency .input {
  border-color: #272B30;
}
:global(.dark-mode) .field.fieldCurrency .input:focus {
  border-color: #33383F;
}

.field.fieldCopy .input {
  padding-right: 48px;
}
.field.error .icon svg {
  fill: #FF6A55;
}
.field.error .wrap:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath d='M12 15a1 1 0 0 0 1-1V9a1 1 0 1 0-2 0v5a1 1 0 0 0 1 1zm7.675 2.504L12.87 5.563a1 1 0 0 0-1.738 0L4.327 17.504A1 1 0 0 0 5.196 19h13.61a1 1 0 0 0 .869-1.495zM14.607 4.573c-1.151-2.019-4.062-2.019-5.213 0L2.589 16.514C1.45 18.514 2.894 21 5.196 21h13.61c2.302 0 3.746-2.486 2.606-4.485L14.607 4.573z' fill-rule='evenodd' fill='%23ff6a55'/%3E%3Cpath d='M13 17a1 1 0 1 1-2 0 1 1 0 1 1 2 0z' fill='%23ff6a55'/%3E%3C/svg%3E") no-repeat 50% 50%/24px auto;
}
.field.error .input {
  padding-right: 48px;
  background: rgba(255, 188, 153, 0.25);
  border-color: transparent;
  color: #FF6A55;
}
:global(.dark-mode) .field.error .input:focus {
  border-color: #FF6A55;
  color: #FF6A55;
}

.field.error .input::-moz-placeholder {
  color: #FF6A55;
}

.field.error .input::placeholder {
  color: #FF6A55;
}
.field.error .input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field.success .wrap:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M20.707 6.293a1 1 0 0 1 0 1.414l-8.586 8.586a3 3 0 0 1-4.243 0l-3.586-3.586a1 1 0 0 1 1.414-1.414l3.586 3.586a1 1 0 0 0 1.414 0l8.586-8.586a1 1 0 0 1 1.414 0z' fill='%2383bf6e'/%3E%3C/svg%3E") no-repeat 50% 50%/24px auto;
}
.field.success .input {
  padding-right: 48px;
  background: #FFFFFF;
  border-color: #9A9FA5;
}
:global(.dark-mode) .field.success .input {
  background: #111315;
}

.label {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7142857143;
  color: #33383F;
}
:global(.dark-mode) .label {
  color: #EFEFEF;
}

.tooltip {
  position: relative;
  top: -1px;
}
.tooltip svg {
  fill: #9A9FA5;
}

.wrap {
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  background: #F4F4F4;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  color: #1A1D1F;
  transition: all 0.2s;
}
:global(.dark-mode) .input {
  border-color: #272B30;
  background: #272B30;
  color: #FCFCFC;
}

.input::-moz-placeholder {
  color: #6F767E;
}

.input::placeholder {
  color: #6F767E;
}
:global(.dark-mode) .input::-moz-placeholder {
  color: #9A9FA5;
}
:global(.dark-mode) .input::placeholder {
  color: #9A9FA5;
}

.input:focus {
  border-color: #9A9FA5;
  background: #FFFFFF;
}
:global(.dark-mode) .input:focus {
  border-color: #33383F;
  background: #111315;
}

.icon,
.copy {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
}

.icon {
  left: 0;
  pointer-events: none;
}
.icon svg {
  fill: #6F767E;
}

.copy {
  right: 0;
}
.copy svg {
  fill: #6F767E;
  transition: fill 0.2s;
}
.copy:hover svg {
  fill: #3070F6;
}

.currency {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  padding-top: 1px;
  border-radius: 10px 0 0 10px;
  background: #F4F4F4;
  color: #1A1D1F;
}
:global(.dark-mode) .currency {
  background: #272B30;
  color: #6F767E;
}/*# sourceMappingURL=TextInput.module.css.map */